body {
    font-family: Arial, sans-serif;
    color: white;
  background-color: #27374D;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #526D82;


    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #27374D;

    font-weight: bold;
}




table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
